{% if data.posts %}
    {% for post in data.posts %}

    <div class="post_box">

        <h2><a href="#">{{post.getTitle}}</a></h2> {% set tags = post.getTagNames %}
        <div class="news_meta">Posted: {{post.getUpdated_at | date(d.m.Y)}} | Tags: {% if tags %}{% for tag in tags %}<a href="#">&nbsp;{{tag}}&nbsp; </a>{% endfor %}{% endif %}</div>
        <div class="image_wrapper"><a href="#" target="_parent"><a class="fb_group" id="{{post.getId}}_image" href="/{{data.upload_dir}}/{{post.getImg}}"><img src="/{{data.upload_dir}}/{{post.getImg}}" alt="image" /></a></a></div>
        <div id="short_{{post.getId}}" class="short"><p align="justify">{{post.getBody | slice(0,200) | raw}}...</p></div>
        <div id="full_{{post.getId}}" class="full"><p align="justify">{{post.getBody | raw}}</p></div>
        <div id="{{post.getId}}" class="in-more"><a class="continue">Больше...</a></div>
        <div class="cleaner"></div>
    </div>

    {% endfor %}
{% endif %}